@{
    ViewData["Title"] = "CosmosDB Add";
}

<div class="text-center">
    <h1 class="display-4">Хмарні технології і використання Microsoft Azure під час розробки додатків</h1>
</div>

<h2 class="display-5">
    CosmosDB: додавання елементів
</h2>


<form method="post">
    <h3>Новий користувач</h3>
    Ім'я <input name="Name" type="text" /> <br/>
    Email <input name="Email" type="email" /> <br />
    <button type="submit" class="btn btn-primary mt-2" name="Action" value="Create">Створити</button>
</form>

@ViewData["result"]


