@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Хмарні технології і використання Microsoft Azure під час розробки додатків</h1>
</div>

<h2 class="display-5">Перекладач</h2>


<div class="row">
    <div class="col col-4 offset-2">
        <label for="source-textarea" class="form-label">Текст, що буде перекладвтися</label>
        <select class="form-select" aria-label="Мова орігінала">
            <option selected value="1">English</option>
            <option value="2">German</option>
            <option value="3">Italian</option>
            <option value="1">Українська</option>
        </select>
        <div class="mb-3">

            <textarea class="form-control" id="source-textarea" rows="3"></textarea>
        </div>
    </div>
    <div class="col col-4">
        <label for="translation-textarea" class="form-label">Результат перекладу</label>
        <select class="form-select" aria-label="Мова перекладу">
            <option selected value="1">Українська</option>
            <option value="1">English</option>
            <option value="2">German</option>
            <option value="3">Italian</option>
        </select>
        <div class="mb-3">

            <textarea disabled readonly class="form-control" id="translation-textarea"
                      rows="3">Зразок перекладу</textarea>
        </div>
    </div>

</div>


