﻿
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Хмарні технології і використання Microsoft Azure під час розробки додатків</h1>
</div>

<h2 class="display-5">Перекладач</h2>


<form class="d-flex" method="get">
    <div class="flex-grow-1">
        <label for="source-textarea" class="form-label">Текст, що буде перекладвтися</label>
        <select class="form-select" aria-label="Мова орігінала" name="lang-from">
            <option selected value="English">English</option>
            <option value="German">German</option>
            <option value="Italian">Italian</option>
            <option value="Українська">Українська</option>
        </select>
        <div class="mb-3">
            <textarea name="original-text" 
                      class="form-control" 
                      id="source-textarea" 
                      rows="3"
                      data-val="true" 
                      data-val-required="@(ViewBag.OriginalTextError)"></textarea>
            <span class="text-danger" data-valmsg-for="original-text" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="flex-grow-1"></div>
    <div class="flex-grow-0 m-3">
        <button class="btn btn-outline-danger" type="button">
            <i class="bi bi-arrow-left-right"></i>
        </button>
        <br />
        <button class="btn btn-outline-success" type="submit" name="action-button" value="translate">
            <i class="bi bi-translate"></i>
        </button>
    </div>
    <div class="flex-grow-1"></div>
    <div class="flex-grow-1">
        <label for="translation-textarea" class="form-label">Результат перекладу</label>
        <select class="form-select" aria-label="Мова перекладу" name="lang-to">
            <option selected value="Українська">Українська</option>
            <option value="English">English</option>
            <option value="German">German</option>
            <option value="Italian">Italian</option>
        </select>
        <div class="mb-3">
            <textarea disabled readonly class="form-control" id="translation-textarea" rows="3">Зразок перекладу</textarea>
        </div>
    </div>
</form>



@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}